{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{ utils.flashed_messages(messages) }}
                </div>
            </div>
        {%- endif %}
    {%- endwith %}
{#    <ol class="breadcrumb">#}
{#      <li><a href="#">Home</a></li>#}
{#      <li><a href="#">Library</a></li>#}
{#      <li class="active">Data</li>#}
{#    </ol>#}
    <div class="jumbotron text-center">
      <h1>{{measurement.material}}</h1>
      <p>Author(s): {{measurement.authors}}, Date of measure: {{measurement.date_measure.strftime('%Y-%m-%d')}}</p>
    </div>
    <div class="container">

{#        <div class="row">#}
{#          <div class="col-sm-8 col-sm-offset-1">#}
{#            <h1>{{measurement.material}}</h1>#}
{#            <p>Author(s): {{measurement.authors}}, Date of measure: {{measurement.date_measure.strftime('%d/%m/%Y')}}</p>#}
{#          </div>#}
{#        </div>#}

        <div class="row">
          <div class="col-sm-8 col-sm-offset-1">
            <h2>Parameters</h2>
          </div>
          <div class="col-sm-2">
            <!-- Split button -->
            <h2>
            <div class="btn-group">
              <a class="btn btn-primary" href="/api/download/matlab/{{  measurement.id }}" target="_blank"><i class="glyphicon glyphicon-download-alt"></i> Download</a>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li><a href="/api/download/matlab/{{  measurement.id }}">Matlab format</a></li>
                <li><a href="/api/download/json/{{  measurement.id }}">Json format</a></li>
              </ul>
            </div>
            </h2>
          </div>
          <div class="col-sm-10 col-sm-offset-1">
            {{measurement.parameters | markdown | indent(8, false) | safe}}

            <h2>Description</h2>

            {{ measurement.description | markdown | indent(8, false) | safe}}

            {%- if div_placeholder['spectral'] %}
            <h2>Spectral data</h2>
            {{ div_placeholder['spectral'] | safe }}
            {%- endif %}

            {%- if div_placeholder['angular'] %}
            <h2>Angular data</h2>

            {{ div_placeholder['angular'] | safe }}
            {%- endif %}

{#            {%- if div_placeholder['surf'] %}#}
{#            {{ div_placeholder['surf'] | safe }}#}
{#            {%- endif %}#}

          </div>
      </div>
    </div>
{%- endblock %}

{% block head %}
    {{super()}}

    <!-- Plotly.js -->
{#   <script src="https://cdn.plot.ly/plotly-1.2.0.min.js"></script>#}
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{%- endblock head %}



{#{% block scripts %}#}
{#    {{super()}}#}
{##}
{#    <!-- D3.js -->#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>#}
{#    <!-- jQuery -->#}
{#    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>#}
{#    <!-- Plotly.js -->#}
{#    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>#}
{##}
{#    <script type="text/javascript">#}
{##}
{#        var spectral_data = { {spectral_data}};#}
{#        var spectral_layout = {{spectral_layout | safe}};#}
{##}
{##}
{#        Plotly.newPlot('spectral-graph', spectral_data);#}
{##}
{#        var trace1 = {#}
{#          x: [1, 2, 3, 4],#}
{#          y: [10, 15, 13, 17],#}
{#          type: 'scatter'#}
{#        };#}
{#        var trace2 = {#}
{#          x: [1, 2, 3, 4],#}
{#          y: [16, 5, 11, 9],#}
{#          type: 'scatter'#}
{#        };#}
{#        var data = [trace1, trace2];#}
{#        Plotly.newPlot('angular-graph', spectral_data);#}
{##}
{#    </script>#}
{##}
{#{%- endblock scripts %}#}
{##}




{##}
{#                <!-- Split button -->#}
{#                <div class="btn-group">#}
{#                  <button type="button" class="btn btn-primary">Action</button>#}
{#                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#                    <span class="caret"></span>#}
{#                    <span class="sr-only">Toggle Dropdown</span>#}
{#                  </button>#}
{#                  <ul class="dropdown-menu">#}
{#                    <li><a href="#">Action</a></li>#}
{#                    <li><a href="#">Another action</a></li>#}
{#                    <li><a href="#">Something else here</a></li>#}
{#                    <li role="separator" class="divider"></li>#}
{#                    <li><a href="#">Separated link</a></li>#}
{#                  </ul>#}
{#                </div>#}
{##}
