{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

{% from "bootstrap/pagination.html" import render_pagination %}


{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
    <div class="container">
        {%- with messages = get_flashed_messages(with_categories=True) %}
            {%- if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {{ utils.flashed_messages(messages) }}
                    </div>
                </div>
            {%- endif %}
        {%- endwith %}

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

{#                <h1>About the materials</h1>#}
{#                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the#}
{#                    industry's#}
{#                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to#}
{#                    make a type specimen book. It has survived not only five centuries, but also the leap into electronic#}
{#                    typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset#}
{#                    sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus#}
{#                    PageMaker including versions of Lorem Ipsum.#}
{#                </p>#}
                <h3>{{category.name}}</h3>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <table class="table" id="experiments">
                  <thead>
                    <tr>
                      <th>Material</th>
                      <th>Parameters</th>
                      <th>Experiment</th>
{#                          <th>Date</th>#}
                    </tr>
                  </thead>
                  <tbody>

                    {% for measurement in query_results.items %}
                    <tr>
                      <th width="20%" scope="row"><a href="{{ url_for('measurements.show_measurement', measurement_id=measurement.id) }}">{{ measurement.material }}</a></th>
                      <td>{{ measurement.parameters }}</td>
                      <td width="10%">{{ measurement.experiments | join(', ') }}</td>
{#                          <td>{{ measurement.date_measure }}</td>#}
                    </tr>
                {% endfor %}
                  </tbody>
                </table>

                <div class="text-center">
                    {{render_pagination(query_results)}}
                </div>

            </div>
        </div>
    </div>
{%- endblock %}

{% block scripts %}
    {{super()}}
{%- endblock scripts %}
