{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}
{#<div class="container">#}
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Admin page</h1>
            <p class="lead">
                Supported formats:
            </p>
            <ul>
                <li><code>'.mat'</code> matlab format (structure)</li>
                <li>(future) hdf5 format</li>
                <li>(future) json format (compression not available)</li>
            </ul>
            <p class="lead">
                Basic data structure.
            </p>
            <pre><code>format of measurement:{

    spectral_lambda: float array [N,1] - lambda
    spectral_I: float array [N,1] - intensity


    angular_x: float array [N,1] - range(-pi/2, pi/2)
    angular_y: float array [1,M] - range(-pi/2, pi/2)
    angular_I: float array [N,M] - intensity (nan included)

}</code></pre>
            <p class="lead">
                Old data structure.
            </p>
            <pre><code>format of measurement:{
    material: string - name of the material,
    short_desc: string - short description (parameters, conditions),
    desc: string - detailed description of the measurement
    date_measure: string ('%d/%m/%Y') - date of measurement,
    authors: string - name of person,
    spectral_data:{
        lambda: float array [N,1] - lambda,
        I: float array [N,1] - intensity
    }
    angular:{
        theta: float array [N,1] - azimuthal,
        phi: float array [M,1] - zenithal,
        I: float array [N,M] - intensity
    }

}</code></pre>
            <p class="lead">TODO:</p>
            <ul>
                <li>security,</li>
                <li>data validation,</li>
                <li>updating form when new file was uploaded</li>
            </ul>
            <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i>Back to home</a>
        </div>
    </div>
{#</div>#}
{% endblock body %}