{# This simple template derives from ``base.html``. See ``base.html`` for
   more information about template inheritance. #}
{%- extends "base.html" %}

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}



{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}

    <div class="jumbotron text-center">
      <h1>{{ title.title }}</h1>
      <p>{{ title.subtitle }}</p>
    </div>

    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div class="row">
                <div class="col-md-12">
                    {{ utils.flashed_messages(messages) }}
                </div>
            </div>
        {%- endif %}
    {%- endwith %}

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">

        {{ content | markdown }}

      </div>
    </div>

    </div>
{%- endblock %}


{#                {% import 'file.txt' as aa %}#}
{#                {{ aa | string | markdown }}#}
{#                {% print 'aa' | reverse %}#}
